<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.adminMapper">
    <resultMap id="adminMap" type="com.example.demo.entity.admin">
        <id property="id" column="id"></id>
        <result property="userId" column="userId"></result>
        <result property="userPassword" column="userPassword"></result>
    </resultMap>

    <select id="getAdmin" parameterType="admin" resultType="java.lang.Integer">
        select count(*)
        from admin
        where userId=#{userId} and userPassword=#{userPassword};
    </select>


</mapper>